<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lime.mall.mapper.AddressMapper">

    <resultMap id="BaseResultMap" type="cn.lime.mall.model.entity.Address">
            <id property="addressId" column="address_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
            <result property="receiverAddress" column="receiver_address" jdbcType="VARCHAR"/>
            <result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR"/>
            <result property="isDefault" column="is_DEFAULT" jdbcType="TINYINT"/>
            <result property="gmtCreated" column="gmt_created" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        address_id,user_id,receiver_name,
        receiver_address,receiver_phone,is_DEFAULT,
        gmt_created,gmt_modified
    </sql>
</mapper>
