<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lime.mall.mapper.ProductUrlMapper">

    <resultMap id="BaseResultMap" type="cn.lime.mall.model.entity.ProductUrl">
        <id property="urlId" column="url_id" jdbcType="BIGINT"/>
        <result property="productId" column="product_id" jdbcType="BIGINT"/>
        <result property="urlType" column="url_type" jdbcType="TINYINT"/>
        <result property="urlSort" column="url_sort" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="gmtCreated" column="gmt_created" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        url_id
        ,product_id,url_type,url,
        url_sort,gmt_created,gmt_modified
    </sql>
</mapper>
