<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lime.mall.mapper.SkuMapper">

    <resultMap id="BaseResultMap" type="cn.lime.mall.model.entity.Sku">
            <id property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="skuCode" column="sku_code" jdbcType="VARCHAR"/>
            <result property="skuDescription" column="sku_description" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="INTEGER"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="gmtCreated" column="gmt_created" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        sku_id,product_id,sku_code,
        sku_description,price,stock,
        remark,gmt_created,gmt_modified
    </sql>
    <select id="getBaseSkuInfo" resultType="cn.lime.mall.model.vo.SkuInfoVo">
        select s.sku_id as skuId,
               s.sku_code as skuCode,
               s.sku_description as skuDescription,
               s.price as price,
               s.stock as stock,
               s.remark as remark,
               unix_timestamp(s.gmt_created) as createTime
        from Sku s
        where s.product_id = #{product_id}
    </select>
</mapper>
